<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @user.first_name %> <%= @user.last_name %> has updated their availability.
    </p>
    
    <p>
    	Please <%= link_to "click here", "https://dasboot.herokuapp.com/users/#{@user.id}" %> to view the changes.
    </p>
  </body>
</html>