<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Das Boot has a new member!</h1>
    <p>
      <%= @user.first_name %> <%= @user.last_name %> has signed up for Das Boot.<br>
    </p>
  </body>
</html>