.navbar{
    color: #223469;
    box-shadow:0 0 10px black;
    background: #223469;
}

.navbar-default a, .navbar-default a:visited, .navbar-brand a{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f5f5f5;
    line-height: 1.5;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
}

.navbar-default .navbar-nav > li > a, .navbar-brand > a{
    line-height: 1.5;
    color: #f5f5f5;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-brand > a:hover{
    border-bottom: 2px solid #f5f5f5;
    color: #f5f5f5;
}

a#uname:hover{
    border-bottom: none;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{

    color: #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}

.navbar{
    min-height: 75px;
}

button.navbar-toggle.collapsed{
    margin-top: 20px;
}


