<%= stylesheet_link_tag "contact" %>
<script type="text/javascript" src="path/to/instafeed.min.js"></script>

<div class="space"></div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar ">
		<h1 class="small-caps">Contact</h1>
	</div>
	<div class="content-bar content-bar-padded">
		<h4>
	        <strong>Chris Dieckhaus</strong>
	    </h4>
	    <p>
	    	Captain, Das Boot
	    </p>
	    <p>
	    	christopherdieckhaus@gmail.com
	    </p>
	    <p>
	    	Krzyzewskiville | Durham, NC
	    </p>

	</div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar ">
		<h1 class="small-caps">Social Media</h1>
	</div>
	<div class="content-bar content-bar-padded" style="text-align: center;">
		<a class="twitter-timeline" href="https://twitter.com/dasbootkville" data-widget-id="656929112511094784">Tweets by @dasbootkville</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	

	</div>
</div>