/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@charset "utf-8";
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Goudy-Italic";
  src: url('../fonts/OFLGoudyStMTT-Italic.ttf');
}

@font-face {
  font-family: "Goudy";
  src: url('../fonts/OFLGoudyStMTT.ttf');
}

div.photo-bar {
    z-index: 3;
    position: relative;
    height: 600px;
}

h1{
	font-family: Goudy;
	color: #223469;
}

div.space{
	height: 20px;
}