/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
@charset "utf-8";



@font-face {
  font-family: "Montserrat";
  src: url('Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Goudy-Italic";
  src: url('OFLGoudyStMTT-Italic.ttf');
}

@font-face {
  font-family: "Goudy";
  src: url('OFLGoudyStMTT.ttf');
}

body{
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

div.photo-bar {
    z-index: 3;
    position: relative;
    height: 300px;
    background: url('cameron.jpg') no-repeat bottom center fixed;
    background-size: cover;
}

h1, h2, h3{
	color: #223469;
  padding: 0 15px;
}

h4, p{
  padding: 0 15px;
  color: #313131;
}

div.space{
	height: 50px;
}

div.space-small{
  height: 25px;
}

div.space-large{
  height: 100px;
}

.btn-raised{
  border-radius: 2px;
  
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

input.form-control{
  border-radius: 2px;
}

.card{
  background: #fdfdfd;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0;
  margin-bottom: 30px;
}

.title-bar{
  background: #223469;
  margin: 0 0 20px 0;
  padding: 10px;
}

.title-bar > h1{
  color: #f5f5f5;
  padding: 0 15px;
}

.content-bar{
  padding: 0 10px;
}

.content-bar-padded{
  padding-bottom: 15px;
}

.card-footer{
  font-style: italic;
  font-size: 12px;
  background: #dae6ff;
  margin: 0;
}

.card-footer > p {
  margin: 10px 0;
}

.list-group-item{
  border: none;
  background: #fdfdfd;
}

.small-caps{
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.emph {
  font-weight: bold;
  font-size: 14px;
}

.pad{
  padding: 0 15px;
  margin-left: -5px;
  margin-right: -5px;
}

.btn-pad{
  margin-left: 15px;
}

.btn-new-action{
  font-size: 20px;
  color: #f5f5f5;
}

.btn-new-action:hover{
  color: #ffffff;
  text-decoration: none;
}

.btn-delete-action{
  font-size: 14px;
  color: #223469;
  border: none;
  background: none;
  font-weight: bold;
}

.look, .look > a{
  color: #CC4D2E;
}

.look > a:hover{
  color: #CC4D2E;
  text-decoration: underline;
  
}

@media only screen and (max-width: 400px) {

   .small-caps { font-size: 18px; }
   .card > .content-bar, .card > .title-bar { text-align: center; }
   .no-center > .content-bar { text-align: left; }
   .emph { font-size: 14px; }
}