// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: url('cameron.jpg') no-repeat fixed center center / cover;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.content-index > p {
	line-height: 150%;
	padding-bottom: 20px;
}

.content-index > p > a {
	color: #223469;
	font-weight: bold;
}

.content-index:last-child {
	padding-bottom: 0px;
}

strong{
	color: #223469;
}

