// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: url('tent3.jpg') no-repeat fixed center center / cover;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.content-bar > p> a{
	font-weight: bold;
}

.content-about > p {
	line-height: 170%;
	padding-bottom: 20px;
}

.content-about:last-child {
	padding-bottom: 0;
}
