<tr>
	<td>
		<%= av.day_date.strftime('%A %-m/%-d') %>
	</td>
	<td>
		<%= av.times %>
	</td>
	<td>
		<%= link_to 'Edit', edit_availability_path(av) %>
	</td>
	<td>
		<%= button_to 'x', availability_path(av), method: :delete %>
	</td>
</tr>