<div class="space"></div>

<h1>My Availabilities</h1>

<table class="table">
    <tr>
		<th>Date</th>
		<th>Times</th>
		<th></th>
		<th></th>
	</tr>
	<% current_user.availabilities.sort_by{|a| a.start_time }.each do |av| %>
		<%= render "/availabilities/av_table", av: av %>
	<% end %>
</table>

<%= link_to 'Add new availability', new_availability_path %>
<br>
<%= link_to 'Edit Profile', edit_user_path(current_user) %>
