<h1>New Availability</h1>

<%= form_for(@av) do |f| %>
  <%= f.date_select :day_date, :min => Date.today %>
  <%= f.text_field :times, :placeholder => "When are you busy?" %>
  <%= f.submit "Add Availability", class: "btn-submit" %>
<% end %>