<div class="space"></div>

<h1>Availabilities for <%= @user.first_name %> <%= @user.last_name %></h1>

These are the time's <%= @user.first_name %> is <strong>not</strong> available.

<table class="table">
    <tr>
		<th>Date</th>
		<th>Times</th>
		<th></th>
		<th></th>
	</tr>
	<% @avs.sort_by{|a| a.start_time }.each do |av| %>
		<%= render "/availabilities/av_table", av: av %>
	<% end %>
</table>

<br>
